<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>

using Open.Collections;
using System;

namespace commonItems.Linguistics;

public static partial class StringExtensions {
	private static readonly OrderedDictionary<string, string> AdjectiveRules = new() {
		<#@ include file="rules.txt" #>
	};
}