name: Build

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_windows:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: "Init submodules"
      run: |
       git submodule update --init --recursive
    - name: "Build project"
      run: |
       cd "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\"
       .\MSBuild.exe $Env:GITHUB_WORKSPACE\commonItems\commonItems.sln /t:Restore;Build
       .\MSBuild.exe -m -p:Configuration=Release $Env:GITHUB_WORKSPACE\commonItems\commonItems.sln -target:commonItems