name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test_and_check_coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    # install dependencies, build, and test
    - name: "Setup Dotnet for use with actions"
      uses: actions/setup-dotnet@main
      with:
        dotnet-version: '6.x'

    - name: "Restore tools"
      run: dotnet tool restore

    - name: "Run tests"
      run: dotnet test commonItems.UnitTests/commonItems.UnitTests.csproj /p:CollectCoverage=true /p:IncludeTestAssembly=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=lcov /p:ExcludeByFile=**/Microsoft.NET.Test.Sdk.Program.cs /p:Exclude=[commonItems.UnitTests]*

    - name: "Publish coverage report to coveralls.io"
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: commonItems.UnitTests/TestResults/coverage.info

  test:
    strategy:
      matrix:
        os: [[self-hosted, windows], macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    # install dependencies, build, and test
    - name: "Setup Dotnet for use with actions"
      uses: actions/setup-dotnet@main
      with:
        dotnet-version: '6.x'

    - name: "Restore tools"
      run: dotnet tool restore

    - name: "Run tests"
      run: dotnet test commonItems.UnitTests/commonItems.UnitTests.csproj
